{% extends 'base.html.twig' %}

{% block title %}Liste Payement{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Liste Payement</h1>
    </div>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mode</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for payement in payements %}
            <tr>
                <td>{{ payement.id }}</td>
                <td>{{ payement.mode }}</td>
                <td>
                    <a href="{{ path('payement_show', {'id': payement.id}) }}" class="btn btn-warning">voir</a>
                    <a href="{{ path('payement_edit', {'id': payement.id}) }}" class="btn btn-danger">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouver!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(payements) }}
    </div>

    <a href="{{ path('payement_new') }}" class="btn btn-success">Créer</a>
</div>
{% endblock %}
