{% extends 'base.html.twig' %}

{% block title %}Lisete Type de Client{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Liste Type de Client</h1>
    </div>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_client in type_clients %}
            <tr>
                <td>{{ type_client.id }}</td>
                <td>{{ type_client.type }}</td>
                <td>
                    <a href="{{ path('type_client_show', {'id': type_client.id}) }}" class="btn btn-warning">voir</a>
                    <a href="{{ path('type_client_edit', {'id': type_client.id}) }}" class="btn btn-danger">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouver!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(type_clients) }}
    </div>

    <a href="{{ path('type_client_new') }}" class="btn btn-success">Créer</a>
</div>
{% endblock %}
