{% extends 'base.html.twig' %}

{% block title %}Utilisateur Liste{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Liste Utilisateur</h1>
        </div>
        <hr>

        <table class="table">
            <thead>
                <tr>
                    {# <th>Id</th> #}
                    <th>Login</th>
                    <th>Password</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    {# <th>Role</th> #}
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for utilisateur in utilisateurs %}
                <tr>
                    {# <td>{{ utilisateur.id }}</td> #}
                    <td>{{ utilisateur.login }}</td>
                    <td>{{ utilisateur.password }}</td>
                    <td>{{ utilisateur.nom }}</td>
                    <td>{{ utilisateur.prenom }}</td>
                    {# <td>{{ utilisateur.role ? utilisateur.role|json_encode : '' }}</td> #}
                    <td>
                        <a href="{{ path('utilisateur_show', {'id': utilisateur.id}) }}" class="btn btn-warning">voir</a>
                        <a href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}" class="btn btn-danger">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Aucun enregistrement trouver!</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    <div class="navigation">
        {{ knp_pagination_render(utilisateurs) }}
    </div>

        <a href="{{ path('utilisateur_new') }}" class="btn btn-success">Créer</a>
    </div>
{% endblock %}
