{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Utilisateur</h1>
        </div>
        <hr>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ utilisateur.login }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ utilisateur.password }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ utilisateur.role ? utilisateur.role|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('utilisateur_index') }}" class="btn btn-primary">Retour</a>
    <br><br>
    <a href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}" class="btn btn-warning">Modifier</a>
    <br><br>
    {{ include('utilisateur/_delete_form.html.twig') }}
    </div>
{% endblock %}
