{% extends 'base.html.twig' %}

{% block title %}Liste Paye{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Liste Paye</h1>
    </div>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Refstock</th>
                <th>DatePayement</th>
                <th>TVA</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paye in payes %}
            <tr>
                <td>{{ paye.id }}</td>
                <td>{{ paye.refstock }}</td>
                <td>{{ paye.datePayement ? paye.datePayement|date('Y-m-d') : '' }}</td>
                <td>{{ paye.TVA ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('paye_show', {'id': paye.id}) }}" class="btn btn-warning">voir</a>
                    <a href="{{ path('paye_edit', {'id': paye.id}) }}" class="btn btn-danger">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouver!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(payes) }}
    </div>

    <a href="{{ path('paye_new') }}" class="btn btn-success">Créer</a>
</div>
{% endblock %}
