{% extends 'base.html.twig' %}

{% block title %}Liste Stock{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Liste des articles de la commande</h1>
    </div>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th>Article</th>
                <th>Quantite</th>
                <th>Reference</th>
                <th>Date</th>
                <th>Quantité Sortie</th>
                <th>Quantité restant</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            {% if stock.quantiteCommander > 0 %}
                <tr>
                    <td>{{ stock.article }}</td>
                    <td>{{ stock.quantiteCommander }}</td>
                    <td>{{ stock.refernce }}</td>
                    <td>{{ stock.date ? stock.date|date('d/m/Y') : '' }}</td>
                    <td>{{ stock.quantiteSortie }}</td>
                    <td>{{ stock.reste }}</td>
                    <td>
                        {% if stock.quantiteSortie <= 0 and stock.reste > 0 %}
                            <a href="{{ path('sortie_edit', {'id': stock.id}) }}" class="btn btn-danger">edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="9">Aucun enregistrement trouver!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br><br>
    <a href="{{ path('sortie_effectuer', {'ref': reference}) }}" class="btn btn-success">Sortir</a>
    <a href="{{ path('sortie_annuler', {'ref': reference}) }}" class="btn btn-success">Annuler</a>
</div>
{% endblock %}
