{% extends 'base.html.twig' %}

{% block title %}Usure d'article{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <h1>Usure Stock</h1>
    </div>
    <hr>

    <br><br>

    {{ include('stock/_form.html.twig') }}
    <br>
    <a href="{{ path('usure') }}" class="btn btn-primary">Terminer</a>
    <br><br>

    <table class="table">
        <thead>
            <tr>
                <th>Article</th>
                <th>Quantite</th>
                <th>Reference</th>
                <th>Commentaire</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.article }}</td>
                <td>{{ stock.quantite }}</td>
                <td>{{ stock.reference }}</td>
                <td>{{ stock.commentaire }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun enregistrement trouver!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
