{% extends 'base.html.twig' %}

{% block title %}Liste Client{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Liste Client</h1>
    </div>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.telephone }}</td>
                <td>{{ client.adresse }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}" class="btn btn-warning">voir</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}" class="btn btn-danger">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouver!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(clients) }}
    </div>

    <a href="{{ path('client_new') }}" class="btn btn-success">Créer</a>
</div>
{% endblock %}
