{% extends 'base.html.twig' %}

{% block title %}Liste Privilege{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Liste Privilege</h1>
    </div>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Privilege</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for privilege in privileges %}
            <tr>
                <td>{{ privilege.id }}</td>
                <td>{{ privilege.privilege }}</td>
                <td>
                    <a href="{{ path('privilege_show', {'id': privilege.id}) }}" class="btn btn-warning">voir</a>
                    <a href="{{ path('privilege_edit', {'id': privilege.id}) }}" class="btn btn-danger">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouver!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(privileges) }}
    </div>

    <a href="{{ path('privilege_new') }}">Créer</a>
</div>
{% endblock %}
