{% extends 'base.html.twig' %}

{% block title %}Mode{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Mode</h1>
    </div>
    <hr>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mode.id }}</td>
            </tr>
            <tr>
                <th>Mode</th>
                <td>{{ mode.mode }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mode_index') }}" class="btn btn-primary">Retour</a>
    <br><br>
    <a href="{{ path('mode_edit', {'id': mode.id}) }}" class="btn btn-warning">Modifier</a>
    <br><br<
    {{ include('mode/_delete_form.html.twig') }}
</div>
{% endblock %}
