{% extends 'base.html.twig' %}

{% block title %}Liste de commande{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Liste de commande</h1>
    </div>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th>Reférence</th>
                <th>Désignation</th>
                <th>Quantite</th>
                <th>NB Jour</th>
                <th>P.U</th>
                <th>Remise</th>
                <th>Montant</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.reference }}</td>
                <td>{{ stock.article.designation }}</td>
                <td>{{ stock.quantite }}</td>
                <td>
                    {% set difference = date(stock.dateRetourPrevu).diff(date(stock.dateSortiePrevue)) %}
                    {% set leftDays = difference.days %}
                    {{ leftDays  }}
                </td>
                <td>{{ (stock.article.prixunitaire)|number_format(2, ',', '.') }} Ar</td>
                <td>{{ (stock.remise)|number_format(2, ',', '.') }} Ar</td>
                <td>{{ (stock.quantite * stock.article.prixunitaire)|number_format(2, ',', '.') }} Ar</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun enregistrement trouver!</td>
            </tr>
        {% endfor %}
            {% if caution != 0 %}
            <tr>
                <td colspan="6" align="right">Caution</td>
                <td>{{ caution|number_format(2, ',', '.') }} Ar</td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="6" align="right">Total HT</td>
                <td>{{ total|number_format(2, ',', '.') }} Ar</td>
            </tr>
            {% if tvaCollecter != 0 %}
            <tr>
                <td colspan="6" align="right">TVA</td>
                <td>{{ tvaCollecter|number_format(2, ',', '.') }} Ar</td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="6" align="right">TTC</td>
                <td>{{ ttc|number_format(2, ',', '.') }} Ar</td>
            </tr>
            {% if transport != 0 %}
            <tr>
                <td colspan="6" align="right">Transport</td>
                <td>{{ transport|number_format(2, ',', '.') }} Ar</td>
            </tr>
            {% endif %}
            {% if remise != 0 %}
            <tr>
                <td colspan="6" align="right">Remise</td>
                <td>{{ remise|number_format(2, ',', '.') }} Ar</td>
            </tr>
            {% endif %}
            {% if indemnite != 0 %}
                <tr>
                    <td colspan="6" align="right">Indeminté</td>
                    <td>{{ indemnite|number_format(2, ',', '.') }} Ar</td>
                </tr>
            {% endif %}
            <tr>
                <td colspan="6" align="right">Net à Payer</td>
                <td>{{ netapayer|number_format(2, ',', '.') }} Ar</td>
            </tr>
        </tbody>
    </table>

    <br>
    <a href="{{ path('proformat_pdf', {'ref': reference}) }}" class="btn btn-success">Imprimer</a>&nbsp;&nbsp;
    <a href="{{ path('proformat_Valider', {'ref': reference}) }}" class="btn btn-success">Valider</a>
</div>
{% endblock %}
