{% extends 'base.html.twig' %}

{% block title %}Liste de commande{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Liste de commande</h1>
    </div>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th>Reférence</th>
                <th>Désignation</th>
                <th>Quantite</th>
                <th>NB Jour</th>
                <th>P.U</th>
                <th>Montant</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.reference }}</td>
                <td>{{ stock.article.designation }}</td>
                <td>{{ stock.quantite }}</td>
                <td>
                    {% set difference = date(stock.dateRetourPrevu).diff(date(stock.dateSortiePrevue)) %}
                    {% set leftDays = difference.days %}
                    {{ leftDays  }}
                </td>
                <td>{{ stock.article.prixunitaire }}</td>
                <td>{{ stock.quantite * stock.article.prixunitaire }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun enregistrement trouver!</td>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="5" align="right">Caution</td>
                <td>{{ caution }}</td>
            </tr>
            <tr>
                <td colspan="5" align="right">Transport</td>
                <td>{{ transport }}</td>
            </tr>
            <tr>
                <td colspan="5" align="right">Remise</td>
                <td>{{ remise }}</td>
            </tr>
            <tr>
                <td colspan="5" align="right">Indeminté</td>
                <td>{{ indemnite }}</td>
            </tr>
        </tbody>
    </table>

    <br>
    <a href="{{ path('proformat_pdf', {'ref': reference}) }}" class="btn btn-success">Imprimer</a>&nbsp;&nbsp;
    <a href="{{ path('proformat_Valider', {'ref': reference}) }}" class="btn btn-success">Valider</a>
</div>
{% endblock %}
