{% extends 'base.html.twig' %}

{% block title %}Encaissement{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <h1>Créer encaissement</h1>
    </div>
    <hr>

    <br><br>

    {{ include('paye/_form.html.twig') }}
    <br>
    <a href="{{ path('encaissement_terminer', {'ref': reference}) }}" class="btn btn-primary">Terminer</a>
    <br><br>

    <table class="table">
        <thead>
            <tr>
                <th>Reférence</th>
                <th>Date</th>
                <th>Montant</th>
                <th>TVA</th>
                <th>Mode de payement</th>                
                <th>Motif de payement</th>
            </tr>
        </thead>
        <tbody>        	
        {# {% set Total = 0 %}
        {% set netapayer = 0 %} #}
        {% for paye in payes %}
            {# {% set Total = Total + paye.montant %}
            {% set netapayer = netapayer + paye.montant %} #}
            <tr>
                <td>{{ paye.refstock }}</td>
                <td>{{ paye.datePayement ? paye.datePayement|date('Y-m-d') : '' }}</td>
                <td>{{ (paye.montant)|number_format(2, ',', '.') }} Ar</td>
                <td>{{ paye.TVA ? 'Oui' : 'Non' }}</td>
                <td>{{ paye.payement }}</td>
                <td>{{ paye.motifPayement }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouver!</td>
            </tr>
        {% endfor %}
            <tr>                
                <td colspan="5" align="right">Total des commandes : </td>
                <td>{{ total|number_format(2, ',', '.') }} Ar</td>
            </tr>
        {# {% set Caution = Total / 2 %}
        {% set netapayer = netapayer + Caution %} #}
            <tr>                
                <td colspan="5" align="right">TVA : </td>
                <td>{{ tva|number_format(2, ',', '.') }} Ar</td>
            </tr>
            {% if caution is not null and caution is defined and caution > 0 %}
                
            <tr>                
                <td colspan="5" align="right">Caution : </td>
                <td>{{ caution|number_format(2, ',', '.') }} Ar</td>
            </tr>
            {% endif %}
        {% if transport is not null and transport is defined and transport > 0 %}
            {# {% set netapayer = netapayer + transport.prix %} #}
            <tr>                
                <td colspan="5" align="right">Transport : </td>
                <td>{{ transport|number_format(2, ',', '.') }} Ar</td>
            </tr>
        {% endif %}
        {% if remise is not null and remise is defined and remise > 0 %}
            {# {% set netapayer = netapayer - (remise.taux /100) %} #}
            <tr>                
                <td colspan="5" align="right">Remise : </td>
                <td>{{ (remise)|number_format(2, ',', '.') }} Ar</td>
            </tr>
        {% endif %}
        {% if indemnite is not null and indemnite is defined and indemnite > 0 %}
            {# {% set netapayer = netapayer - (remise.taux /100) %} #}
            <tr>                
                <td colspan="5" align="right">Indemnité : </td>
                <td>{{ (indemnite)|number_format(2, ',', '.') }} Ar</td>
            </tr>
        {% endif %}
            <tr>                
                <td colspan="5" align="right">Net à payer : </td>
                <td>{{ netapayer|number_format(2, ',', '.') }} Ar</td>
            </tr>
        </tbody>
    </table>

    <br><br><br>
    <h3>Caution</h3>
    {{ include('caution/_form.html.twig') }}

    <br><br><br>
    <h3>Remise</h3>
    {{ include('remise/_form.html.twig') }}

    <br><br><br>
    <h3>Transport</h3>
    {{ include('transport/_form.html.twig') }}

    <br><br><br>
    <h3>Hors Catalogue</h3>
    {{ include('indemnite/_form.html.twig') }}

</div>
{% endblock %}
