{% extends 'base.html.twig' %}

{% block title %}Liste Stock{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Liste Stock</h1>
    </div>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>Reference</th>
                <th>DateCommande</th>
                <th>DateSortiePrevue</th>
                <th>DateSortieEffectif</th>
                <th>DateRetourPrevu</th>
                <th>DateRetourEffectif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.id }}</td>
                <td>{{ stock.quantite }}</td>
                <td>{{ stock.reference }}</td>
                <td>{{ stock.dateCommande ? stock.dateCommande|date('Y-m-d') : '' }}</td>
                <td>{{ stock.dateSortiePrevue ? stock.dateSortiePrevue|date('Y-m-d') : '' }}</td>
                <td>{{ stock.dateSortieEffectif ? stock.dateSortieEffectif|date('Y-m-d') : '' }}</td>
                <td>{{ stock.dateRetourPrevu ? stock.dateRetourPrevu|date('Y-m-d') : '' }}</td>
                <td>{{ stock.dateRetourEffectif ? stock.dateRetourEffectif|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('stock_show', {'id': stock.id}) }}" class="btn btn-warning">voir</a>
                    <a href="{{ path('stock_edit', {'id': stock.id}) }}" class="btn btn-danger">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun enregistrement trouver!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(stocks) }}
    </div>

    <a href="{{ path('stock_new') }}" class="btn btn-success">Créer</a>
</div>
{% endblock %}
