{% extends 'base.html.twig' %}

{% block title %}Liste Stock{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Liste des articles à retourner</h1>
    </div>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th>Article</th>
                <th>Quantite</th>
                <th>Reference</th>
                <th>Date Commande</th>
                <th>Date Sortie Prevue</th>
                <th>Date Retour Prevu</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.article }}</td>
                <td>{{ stock.quantite }}</td>
                <td>{{ stock.reference }}</td>
                <td>{{ stock.dateCommande ? stock.dateCommande|date('Y-m-d') : '' }}</td>
                <td>{{ stock.dateSortiePrevue ? stock.dateSortiePrevue|date('Y-m-d') : '' }}</td>
                <td>{{ stock.dateRetourPrevu ? stock.dateRetourPrevu|date('Y-m-d') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun enregistrement trouver!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br><br>
    <a href="{{ path('retour_effectuer', {'ref': reference}) }}" class="btn btn-success">Récue</a>&nbsp;<a href="{{ path('refacturation', {'ref': reference}) }}" class="btn btn-success">Refacturer</a>
</div>
{% endblock %}
