{% extends 'base.html.twig' %}

{% block title %}Liste Stock{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Liste des articles à retourner</h1>
    </div>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th>Article</th>
                <th>Quantité</th>
                <th>Reference</th>
                <th>Date Retour</th>
                <th>Quantité Retourner</th>
                <th>Date Retour Prevu</th>
                <th>Prix</th>
                <th>Reste</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.article }}</td>
                <td>{{ stock.quantitesortie }}</td>
                <td>{{ stock.reference }}</td>
                <td>{{ stock.dateRetour ? stock.dateRetour|date('d/m/Y') : '' }}</td>
                <td>{{ stock.quatiteRetourner }}</td>
                <td>{{ stock.cassure }}</td>
                <td>{{ stock.prix }}</td>
                <td>{{ stock.reste }}</td>
                <td><a href="{{ path('retour_edit', {'id': stock.id}) }}" class="btn btn-danger">edit</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun enregistrement trouver!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br><br>
    <a href="{{ path('retour_effectuer', {'ref': reference}) }}" class="btn btn-success">Récue</a>&nbsp;<a href="{{ path('refacturation', {'ref': reference}) }}" class="btn btn-success">Refacturer</a>
</div>
{% endblock %}
