
        <style>
            /** Define the margins of your page **/
            @page {
                margin: 100px 25px;
            }
            table thead tr th {
                border: 0;
            }

            table tbody tr td {
                border: 1px solid #ccc;
            }

            .tableau {
                border-collapse: collapse;
                border-spacing: 0px;
                border: 1px solid black;
            }

            .tableau thead tr th,
            .tableau tbody tr td {
                border: 1px solid black;
            }

            th {
                background: rgb(130, 130, 130);
                height: 30px;
                vertical-align: middle;
                align: center;
            }

             header {
                position: fixed;
                top: -60px;
                left: 0px;
                right: 0px;
                height: 50px;

                /** Extra personal styles **/
                background-color: #03a9f4;
                color: white;
                text-align: center;
                line-height: 35px;
            }

            footer {
                position: fixed; 
                bottom: -60px; 
                left: 0px; 
                right: 0px;
                height: 50px; 

                /** Extra personal styles **/
                background-color: white;
                color: black;
                text-align: center;
                line-height: 10px;
                font-size: 10px;
            }
        </style>
  
 {% block body %}
    <div class="container" style="margin-left:20px">
        
            <div class="row" align="center">
                <img src="{{ logo }}" alt="logo" height="150px" type="image/png">
            </div>
        
        <div class="row">
            Référence&nbsp;&nbsp;&nbsp;&nbsp;
            FACTURE N° {{ reference }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Date: {{ "now"|date('d F Y') }}
        </div>

        <div><u>Objet :</u> FACTURE</div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th width="150px">Reférence</th>
                        <th width="200px">Désignation</th>
                        <th width="50px">Quantite</th>
                        <th width="50px">NB Jour</th>
                        {% if typeclient != typeclientreference %}
                        <th width="100px">P.U</th>
                        <th width="50px">Remise</th>
                        <th width="100px">Montant</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% set Total = 0 %}
                {% set Caution = 0 %}
                {% set TotalFacture = 0 %}
                {% for stock in stocks %}
                    <tr>
                        <td>{{ stock.reference }}</td>
                        <td>{{ stock.article.designation }}</td>
                        <td align="center">{{ stock.quantite }}</td>
                        <td align="center">
                            {% set difference = date(stock.dateRetourPrevu).diff(date(stock.dateSortiePrevue)) %}
                            {% set leftDays = difference.days %}
                            {{ leftDays  }}
                        </td>
                        {% if typeclient != typeclientreference %}
                        <td align="right">{{ (stock.article.prixunitaire)|number_format(2, ',', '.') }} Ar</td>
                        <td align="right">{{ (stock.remise)|number_format(2, ',', '.') }} Ar</td>
                        <td align="right">{{ (stock.quantite * stock.article.prixunitaire)|number_format(2, ',', '.') }} Ar</td>
                        {% endif %}
                        {% set Total = Total + (stock.quantite * stock.article.prixunitaire) %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">Aucun enregistrement trouver!</td>
                    </tr>
                {% endfor %}
                {% if typeclient != typeclientreference %}
                    {% if caution != 0 %}
                    <tr>
                        <td colspan="6" align="right">Caution</td>
                        <td>{{ caution|number_format(2, ',', '.') }}  Ar</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td colspan="6" align="right">Total</td>
                        <td>{{ total|number_format(2, ',', '.') }}</td>
                    </tr>
                    {% if tvaCollecter != 0 %}
                    <tr>
                        <td colspan="6" align="right">TVA</td>
                        <td>{{ tvaCollecter|number_format(2, ',', '.') }}  Ar</td>
                    </tr>
                    {% endif %}
                    {% if transport != 0 %}
                    <tr>
                        <td colspan="6" align="right">Transport</td>
                        <td>{{ transport|number_format(2, ',', '.') }}  Ar</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td colspan="6" align="right">TTC</td>
                        <td>{{ ttc|number_format(2, ',', '.') }}  Ar</td>
                    </tr>
                    {% if remise != 0 %}
                    <tr>
                        <td colspan="6" align="right">Remise</td>
                        <td>{{ remise|number_format(2, ',', '.') }}  Ar</td>
                    </tr>
                    {% endif %}
                    {% if indemnite != 0 %}
                        <tr>
                            <td colspan="6" align="right">Indeminté</td>
                            <td>{{ indemnite|number_format(2, ',', '.') }}  Ar</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td colspan="6" align="right">Net à Payer</td>
                        <td>{{ netapayer|number_format(2, ',', '.') }}  Ar</td>
                    </tr>  
                {% endif %} 
                </tbody>
            </table>
        </div>
        <div class="row" align="center">
            <div class="col-3"></div>
            <div class="col-3"></div>
        </div>
        <br><br>
        <div class="row">
            <table cellspacing="0" cellpadding="0" style="border-width: 0px; border:solid 1px #fff; width:700px; border-spacing: 0px;border-collapse:collapse;">
                <tr border="none">
                    <td align="center" width="50%" border="0"> Le Responsable </td>
                    <td align="center" width="50%" border="0"> Le Client </td>
                </tr>
            </table>
        </div>
        <footer>
            <div class="row" align="center">
                PRIMA-CE<br>
                Société à Responsabilité limitée Unipersonnelle au capital de 1 000 000 Ariary<br>
                NIF : 6002986663 - STAT : 42201-11-2018-0-10341 - RCS : 2018B00325<br>
                Mail : events@prima.mg - Tél.: 034 28 222 04 - 034 28 222 80 - 034 28 222 81
            </div>
        </footer>
    </div>
 {% endblock %}
