{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ article.designation }}</td>
            </tr>
            <tr>
                <th>Prix_unitaire</th>
                <td>{{ article.prixUnitaire }}</td>
            </tr>
            <tr>
                <th>Prix_casse</th>
                <td>{{ article.prixCasse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('article_index') }}">back to list</a>

    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
