{% extends 'base.html.twig' %}

{% block title %}Liste TVA{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Liste TVA</h1>
    </div>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tva</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for t_v_a in t_v_as %}
            <tr>
                <td>{{ t_v_a.id }}</td>
                <td>{{ t_v_a.tva }}</td>
                <td>
                    <a href="{{ path('t_v_a_show', {'id': t_v_a.id}) }}" class="btn btn-warning">voir</a>
                    <a href="{{ path('t_v_a_edit', {'id': t_v_a.id}) }}" class="btn btn-danger">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouver!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(t_v_as) }}
    </div>

    <a href="{{ path('t_v_a_new') }}" class="btn btn-success">Créer</a>
</div>
{% endblock %}
