{% extends 'base.html.twig' %}

{% block title %}TVA{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>TVA</h1>
    </div>
    <hr>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ t_v_a.id }}</td>
            </tr>
            <tr>
                <th>Tva</th>
                <td>{{ t_v_a.tva }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('t_v_a_index') }}" class="btn btn-primary">Retour</a>
    <br><br>
    <a href="{{ path('t_v_a_edit', {'id': t_v_a.id}) }}" class="btn btn-warning">Modifier</a>
    <br><br>
    {{ include('t_v_a/_delete_form.html.twig') }}
</div>
{% endblock %}
