{% extends 'base.html.twig' %}

{% block title %}Type de Payement{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Type de Payement</h1>
    </div>
    <hr>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_payement.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ type_payement.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_payement_index') }}" class="btn btn-primary">Retour</a>
    <br><br>
    <a href="{{ path('type_payement_edit', {'id': type_payement.id}) }}" class="btn btn-warning">Modifier</a>
    <br><br>
    {{ include('type_payement/_delete_form.html.twig') }}
</div>
{% endblock %}
